.feature-panel.customer-groups
  %div
    #content-container.container-fluid.customer-group-container{:style => "margin-top: 0px;"}
      .health-plans
        .row
          .geo-map-panel.col-sm-12.col-md-6
            .panel.panel-default
              .panel-body{style: 'height:600px'}
                %input#pac-input.controls{:placeholder => "Search Box", :type => "text"}
                  #map
          .col-sm-12.col-md-6
            .panel.panel-default
              .panel-body
                .row
                  .col-sm-12
                    .row.stats
                      .col-sm-6.big-number
                        %p.h2.text-center
                          184
                          %span.small Lorem Cursus
                      .col-sm-6.big-number
                        %p.h2.text-center
                          123
                          %span.small Lorem Cursus
                  .col-sm-12
                    %hr
